*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
html{
    font-size: 62.5%;
    background-color: var(--white);
}
:root {
    --primary-color: #000839;
    --primary-shades: #00020b;
    --para-color: #80849c;
    --helper-color: #1264fa;
    --white: #fff;
    --bg-color: #e6e6eb;
  }

  a{
    text-decoration: none;
  }
.header{
    z-index: 4;
    height: 9.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0.01rem;
    padding: 0 5.4rem;
    background-color: whitesmoke;
    opacity: 0.9;
}
.logo{
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 2px 1.5px 3px var(--primary-color);
    font-family: 'Courier New', Courier, monospace;
}

.list{
    display: flex;
    gap: 32px;
    justify-content: space-between;
    font-size: 1.5rem;
}

li{
    list-style: none;
}

.list .button{
    padding: 1.2rem 2.4rem;
    background-color: var(--white);
    color: var(--helper-color);
    border: 1px solid var(--helper-color);
    transition: all 0.1s ease-in-out;
    border-radius: 10px;
}

.list .button:hover, .button:active{
    background-color: var(--primary-color);
    color: var(--helper-color);
}

.mobile{
   display: none;
    font-size: 4rem;
color: var(--helper-color);
}

#cross[name="close"]{
    display: none;
}
.para{
    color: var(--para-color);
}
main{
 
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}
.navigation{
    display: flex;
    align-items: center;
    position: relative;
}
.top{
    text-align: center;
    padding: 0.5rem 5.4rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(4, 59, 59);
    font-size: 1.2rem;
    text-shadow: 1px 2px 2px gray;
}

.container{
    left: 5px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4,300px);
    gap: 5px;
}


.one{
    grid-row: 1/2;
    grid-column: 1/2;
}

.two{
    grid-row: 1/2;
    grid-column: 2/-1;
}


.three{
    grid-row: 2/3;
    grid-column: 1/2;
}

.four{
    grid-row: 2/3;
    grid-column: 2/-1;
}

.five{
    grid-row: 3/4;
    grid-column: 1/2;
}

.six{
    grid-row: 3/4;
    grid-column: 2/-1;
}

.footer{
    background-image: linear-gradient(to left,var(--helper-color),aqua);
    grid-row: 4/-1;
    grid-column: 1/-1;
    width: 100%;
}

.footer #containeer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 100%;
    gap: 3px;
    color: var(--para-color);
}
.footer #containeer .left{
    text-align: center;
    justify-content: center;
    font-size: 1.7rem;
    color: var(--primary-color);
}

.footer #containeer #payment{
    text-align: center;
    justify-content: center;
    padding: 5%;
}
.footer #containeer #payment #center{
text-align: center;
font-size: larger;
}
.footer #containeer #payment .card{
    font-size: 100px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,50%);
    gap: 10px;
    }
    .footer #containeer .left ul li{
        padding: 7px;
        justify-content: center;
        align-content: center;
        }
        .footer #containeer h2{
            padding-top: 5px;
            color: var(--primary-shades);
            font-size: 2.0rem;
        }
.footer #containeer h3{
    color: var(--primary-shades);
    font-size: 5.4rem;
}

    .footer #containeer #payment .card .div1, .div3{
       text-align: right;
       
        }
        .footer #containeer #payment .card .div2, .div4{
            text-align: left;
           padding-left: 30px;
             }
             .footer .copyright{
                top: 5px;
                line-height: 5.1rem;
                background-color:var(--primary-shades);
                display: grid;
                grid-template-columns: 1fr;
             }
             .footer .copyright .cpy{
                color: var(--para-color);
                text-align: center;
                font-style: oblique;
                font-weight: 200;
                font-size: larger;
                font-family: mahesh;
             }
img{
    height: 55%;
    width: 65%;
    border-radius: 0 8px 0 0;
}

#parag{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

@font-face {
    font-family: mahesh;
    src: url(gov.ttf.ttf);
}
h2{
    font-family: mahesh;
}


button{
    border-radius: 5px;
    padding: 0 1.2rem;
    line-height: 20px;
    border: 1px solid var(--primary-shades);
    color: var(--white);
    background-color: var(--helper-color);
}

#yesNo1 , #yesNo2, #yesNo3, #yesNo4, #yesNo5, #yesNo6{
    display: none;
}
.ok #yesNo1{
    display: block;
}
.ok2 #yesNo2{
    display: block;
}
.ok3 #yesNo3{
    display: block;
}

.ok4 #yesNo4{
    display: block;
}

.ok5 #yesNo5{
    display: block;
}

.ok6 #yesNo6{
    display: block;
}
.navigation{
    display: flex;
    position: relative;
}

@media(max-width:960px){
    html{
        font-size: 62.5%;
     }
     main{
        max-width: 960px;
     }
   
                 .navigation{
                    position: absolute;
                    top: 0;
                    right: 0%;
                   transform: translateX(100%);
                   display: flex;
                   flex-direction: column;
                   align-content: center;
                   width: 40%;
                   height: 117.5vh;
                   justify-content: first baseline;
                   background-color: var(--primary-shades);
                   padding: 5px;
                   display: none;
                 }
                 .navigation .list{
                    padding-top: 100px;
                    display: flex;
                   flex-direction: column;
                   align-items: center;
                   color: var(--white);
                   top: 5px;
                   justify-content: flex-start;
                  
                 }
                 
                 .mobile{
                    display: block;
                    z-index: 9999;
                 }
                 .service .navigation{
                    transform: translateX(0%);
                    display: block;
                 }
                 .service .mobile #bar[name="menu"]{
                    display: none;
                 }
                 .service .mobile #cross[name="close"]{
                    display: block;
                    z-index: 999;
                 }
                 .footer #containeer .left{
                    font-size: 1.5rem;
                }
               
                
}

@media(max-width:760px){
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6,250px),270px;
     }
     .one{
        grid-row: 1/2;
        grid-column: 1/-1;
    }
    
    .two{
        grid-row: 2/3;
        grid-column: 1/-1;
    }
    
    
    .three{
        grid-row: 3/4;
        grid-column: 1/2;
    }
    
    .four{
        grid-row: 4/5;
        grid-column: 1/-1;
    }
    
    .five{
        grid-row: 5/6;
        grid-column: 1/-1;
    }
    
    .six{
        grid-row: 6/7;
        grid-column: 1/-1;
    }
    
    .footer{
        grid-row: 7/8;
        grid-column: 1/-1;
    }
    .footer #containeer .left{
        font-size: 1.3rem;
    }
}

@media(max-width:605px){
    .footer .left{
    padding-top: 10px;
    }
    .footer #payment .card{
       gap: 7px;
    }
    .footer #containeer #payment .card .div2, .div4{
        text-align: left;
       padding-left: 10px;
         }
         .container{
            grid-template-columns: 1fr;
         }
         .footer #containeer .left{
            font-size: 1.1rem;
        }
}

@media(max-width:524px){
    html{
        font-size: 54.6%;
    }
    main{
        min-width: 360px;
        max-width: 524px;
    }
    .footer #containeer .left ul li{
        padding: 3px;
        }
        .footer #containeer h2{
            padding-top: 5px;

            color: var(--primary-shades);
            font-size: 2.0rem;
        }
    .footer .left{
    padding-top: 6px;
    font-size: 5px;
    }
    .footer #payment .card{
       gap: 2px;
    }
    .footer #containeer #payment .card{
        font-size: 58px;
    }
    .footer #containeer #payment .card .div2, .div4{
        text-align: left;
       padding-left: 3px;
    }
}
@media(max-width:360px){
    html{
        font-size: 48.6%;
    }
    main{
        width: 360px;
    }
    .footer #containeer .left ul li{
        padding: 3px;
        }
        .footer #containeer h2{
            padding-top: 3px;
            color: var(--primary-shades);
            font-size: 2.0rem;
        }
    .footer .left{
    padding-top: 6px;
    }
    .footer #payment .card{
       gap: 2px;
    }
    .footer #containeer #payment .card{
        font-size: 53px;
    }
    .footer #containeer #payment .card .div2, .div4{
        text-align: left;
       padding-left: 2px;
         }
         
         .navigation{
            width: 55%;
         }
}

